services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - ./tmp/db:/var/lib/postgresql/data:delegated

  vite:
    build: .
    command: sh -c "bun install && bin/vite dev"
    tty: true
    ports:
      - "3391:3391"
    volumes:
      - .:/opt/rails:delegated
      - bundle_cache:/usr/local/bundle:delegated

  web:
    build: .
    command: sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -b0"
    environment:
      - SECRET_KEY_BASE
    volumes:
      - .:/opt/rails:delegated
      - bundle_cache:/usr/local/bundle:delegated
    ports:
      - "3299:3000"
    healthcheck:
      disable: true
    depends_on:
      - db
      - redis
      - memcached
      - vite

  redis:
    image: redis:alpine

  memcached:
    image: memcached:1.6-alpine

volumes:
  bundle_cache:
