*,
::before,
::after,
::placeholder {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  font: 16px forma-djr-mono, sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.5;
  background-color: #081212;
  color: #859D9D;
}

a {
  text-decoration: underline;
  color: inherit;
  text-decoration-color: #183535;
}

a:hover {
  color: #fff;
  text-decoration-color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  margin: 64px 0 0;
  gap: 24px;
}

.social a {
  color: #859D9D;
  padding: 8px;
  display: flex;
}

.social a:hover {
  color: #fff;
}

.social a svg {
  width: 24px;
  height: 24px;
}

h1 {
  text-align: center;
  font: 80px dharma-gothic-m, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 24px;
  margin: 24px 0 24px;
  width: calc(100% - 24px);
  position: relative;
  left: 24px;
  pointer-events: none;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px;
  padding: 0 24px;
}

nav .selected-game {
  height: 32px;
  color: #081212;
  font-weight: bold;
  padding: 3px 12px 0;
  cursor: default;
  white-space: nowrap;
  background-color: #859D9D;
}

nav .selected-game a {
  text-decoration: none;
  color: #445555;
}

nav .selected-game a:hover {
  color: #081212;
}

nav .menu-container {
  position: relative;
}

nav .menu-toggle {
  display: block;
  height: 32px;
  color: #081212;
  font-weight: bold;
  padding: 0px 11px 0 12px;
  font-size: 20px;
  color: #445555;
  cursor: pointer;
  letter-spacing: 0;
  background-color: #859D9D;
}

nav .menu-toggle::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 16px;
  visibility: hidden;
  background-color: #859D9D;
}

nav .menu-toggle:hover {
  color: #081212;
}

nav input[type="checkbox"] {
  display: none;
}

nav .unselected-games {
  list-style: none;
  margin: 16px 0 0;
  padding: 12px 24px 16px 16px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #859D9D;
}

input[type="checkbox"]:checked ~ .unselected-games {
  visibility: visible;
}

input[type="checkbox"]:checked ~ .menu-toggle {
  color: #081212;
  cursor: default;
}

input[type="checkbox"]:checked ~ .menu-toggle::after {
  visibility: visible;
}

nav .unselected-games li {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

nav .unselected-games li + li {
  margin-top: 4px;
}

nav .unselected-games a {
  color: #445555;
  text-decoration: none;
  font-weight: bold;
}

nav .unselected-games a:hover {
  color: #081212;
}

main {
  margin: 80px auto;
  max-width: 528px;
  padding: 0 24px;
  text-align: center;
}

h2 {
  color: #EBF1F1;
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 500;
  margin: 8px 0 12px;
  line-height: 1.25;
  word-wrap: break-word;
}

h2 a {
  color: #fff;
  text-underline-offset: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

time {
  font-weight: bold;
  text-transform: uppercase;
}

article + article {
  margin-top: 80px;
}

article > div + div {
  margin-top: 8px;
}

article > .game,
article > .streams {
  margin-top: 40px;
}

article > .game > .players {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 1;
  gap: 16px 32px;
}

article > .streams ul {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 1;
  gap: 16px 32px;
}

article > .streams li {
  display: flex;
}

article > .streams .live {
  background-color: #910830;
  color: #fff;
  margin-left: 8px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 2px 3px 4px 4px;
  border-radius: 4px;
  position: relative;
  top: 1px;
  pointer-events: none;
}

footer {
  margin: 120px 0 80px;
  padding: 0 24px;
  text-align: center;
  color: #445555;
}

footer p {
  text-size: 14px;
  margin: 0;
}

footer p + p {
  margin-top: 8px;
}
