<% tournaments = @tournaments.limit(15) %>

<% tournaments.each do |tournament| %>
  <%= render 'tournament', locals: { games: @games, tournament: } %>
<% end %>

<% if @tournaments.count > tournaments.count %>
  <div id="tournament-loader" data-last-tournament-id="<%= tournaments.last.id %>">
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </div>
<% end %>
