<img src="/setbot.jpeg" style="width:100%; max-width: 528px">

<section>

  <h3>Never miss a streamed set.</h3>

  <p>
    Add Setbot to your Discord server and get notified anytime your favorite
    players have a set on a major tournament stream.
  </p>

  <p>
    Also useful for players with their own Discord servers who want to
    automatically ping their fans (using a server role) whenever they have a
    set on stream.
  </p>

  <p style="text-align: center">
    <a
      href="https://discord.com/oauth2/authorize?client_id=1358490190188122162"
      target="_blank"
      class="button"
    >Add to Server</a>
  </p>

</section>

<section>

  <h3>Setup instructions</h3>

  <p>
    Give Setbot
    <b>View Channel</b>,
    <b>Send Messages</b>,
    <b>Manage Messages</b>, and
    <b>Read Message History</b>
    permissions in the channel where you want sets to be announced.
  </p>

  <p>
    Type
    <b>/connect</b>
    in the channel with the tag of the player you want to follow.
  </p>

  <p>
    After the connection is set up, optionally select a role to ping with each
    set announcement. Make sure Setbot has permission to ping the role.
  </p>

  <p>
    That's it! If you run into any issues, get help in the
    <b>#setbot</b>
    channel
    <a href="https://discord.gg/x7E38ygc42" target="_blank">in Discord</a>.
  </p>

</section>

<section>

  <h3>More information</h3>

  <p>
    Setbot relies primarily on start.gg for set data, so the accuracy and
    timing of notifications depends on how rigorously the event's TOs update
    the bracket in start.gg. Most TOs of larger events keep set statuses
    thoroughly up to date, but in other cases there may be delayed or missed
    notifications, for instance if a TO forget to mark a set as started until
    after it's already on stream.
  </p>

  <p>
    Setbot currently only supports Twitch streams.
  </p>

</section>
